.main-header .logo {
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 24px;
  }
  
  .main-sidebar { font-size: 20px; }


  table.dataTable tbody tr.selected td,
  table.dataTable tbody td.selected {
      border-top-color: white !important;
      box-shadow: inset 0 0 0 9999px #FFC0CB !important;
  }
  
  table.dataTable tbody tr:active td {
      background-color: #FFC0CB !important;
  }
  
  :root {
      --dt-row-selected: transparent !important;
  }
  
  table.dataTable tbody tr:hover, table.dataTable tbody tr:hover td {
      background-color: #FFC0CB !important;
  }